In [29]:
import pandas as pd
import os
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [30]:
import re
from unicodedata import normalize
def clean_word(s):
    s = re.sub(
        r"([^n\u0300-\u036f]|n(?!\u0303(?![\u0300-\u036f])))[\u0300-\u036f]+", r"\1",
        normalize( "NFD", s), 0, re.I)
    s = normalize( 'NFC', s)
    return s

In [31]:
tabla = pd.read_csv('cuadro.csv')

In [32]:
tabla = tabla.loc[:, ~tabla.columns.str.contains('^Unnamed')]

In [33]:
tabla.set_index('index', inplace=True)

In [34]:
tabla.rename(columns={'Autor principal':'author', 'Año':'year',
                      'Criterio Diagóstico Asociado':'critiria', 'País':'country',
                     'Edad mínima': 'min_age', 'Edad máxima':'max_age', 'HOMBRES':'men',
                     'MUJERES':'women', 'Distribución proporcional de muestra':'proportional',
                     'Análisis por género':'gender', 'Tipo de estudio':'type', 'N TOTAL':'total'}, inplace=True)

In [35]:
tabla.drop(['total'], axis=1, inplace=True)

In [36]:
tabla.loc[1, 'author'] = 'Alder'
tabla.loc[29, 'author'] = 'Hamm'
tabla.loc[30, 'author'] = 'Hamm'
tabla.loc[80, 'author'] = 'Yu'

In [37]:
tabla = tabla.fillna(0)

In [38]:
tabla.loc[tabla.critiria=='CRR ', 'critiria']  = 'CRR'
tabla.loc[tabla.proportional=='NO ', 'proportional']  = 'NO'

In [39]:
#map_critiria = {'CRR':0, 'C+ISR+CRR':1}
#map_propgen = {'NO':0, 'SI':1}

In [40]:
#tabla.proportional = tabla.proportional.map(map_propgen)
#tabla.gender = tabla.gender.map(map_propgen)
#tabla.critiria = tabla.critiria.map(map_critiria)

In [41]:
tabla = tabla.astype({'year': int, 'min_age': int,
                      'max_age': int, 'men': int, 'women': int,
                      'type':str, 'proportional':str, 'gender':str,
                      'author':str, 'country':str, 'critiria':str})

In [42]:
tabla.columns

Index(['author', 'year', 'critiria', 'type', 'country', 'min_age', 'max_age',
       'men', 'women', 'proportional', 'gender'],
      dtype='object')

In [43]:
tabla.loc[:,'author'] = tabla.author.str.split(' ', n = 1, expand = True)[0]

In [44]:
tabla.loc[69, 'author'] = 'Sung'

In [45]:
string_columns = ['type', 'proportional', 'gender', 'author', 'country', 'critiria']
for i in string_columns:
    tabla[i] = tabla[i].str.lower()
    tabla.loc[:, i] = tabla[i].apply(clean_word)

In [46]:
tabla.head(30)

,author,year,critiria,type,country,min_age,max_age,men,women,proportional,gender
index,,,,,,,,,,,
1,alder,2022,crr,eo,usa,2,8,24,8,no,no
2,arkesteyn,2021,crr,ar,belgica,3,18,0,0,no,si
3,arnell,2022,crr,eo,suecia,12,16,8,4,no,no
4,arnell,2020,c+isr+crr,eo,suecia,6,12,16,12,no,no
5,arnell,2018,crr,eo,suecia,12,16,17,7,no,si
6,bassette,2018,crr,eo,usa,18,21,1,2,no,no
7,becerra,2021,crr,eo,usa,4,4,1,2,no,no
8,bennett,2022,crr,eo,usa,13,18,24,10,si,no
9,benson,2019,crr,eo,canada,18,35,23,9,no,no
10,bishop,2022,crr,eo,usa,18,28,222,114,no,no
11,blagrave,2022,c+isr+crr,eo,usa,8,14,5,3,no,no
12,bo,2019,c+isr+crr,eo,china usa,8,12,9,0,no,no
13,bremer,2020,crr,eo,canada,8,12,12,0,no,no
14,bremer,2020,crr,eo,canada,6,13,158,44,no,no
15,brown,2020,crr,eo,canada,4,17,161,39,no,no
16,carey,2022,crr,eo,irlanda uk,5,18,0,24,no,no
17,chu,2020,crr,eo,taiwan,12,18,63,0,no,no
18,columna,2020,crr,eo,usa,5,14,9,0,no,no
19,dahlgren,2021,crr,eo,usa,9,18,138,38,si,no
20,djordjevic,2022,crr,ar,serbia,3,17,0,0,no,no
21,esenturk,2021,crr,eo,turquia,9,14,8,6,no,no
22,esenturk,2020,crr,eo,turquia,9,16,5,5,si,no
23,fiscella,2021,c+isr+crr,eo,usa,6,17,7898,7538,no,no
24,garcia,2020,crr,eo,usa,8,16,12,2,no,no
25,garcia-pastor,2019,crr,eo,españa,7,48,56,22,no,si
26,gehricke,2020,crr,eo,usa,6,11,304,71,no,si
27,gehricke,2022,crr,eo,usa,6,12,124,24,no,si
28,haegele,2021,crr,eo,usa,13,17,10,26,si,no
29,hamm,2019,c+isr+crr,eo,usa,18,35,138,177,no,no
30,hamm,2018,crr,eo,usa,18,35,92,50,no,no

In [47]:
tabla.to_csv('cleaned.csv')

In [48]:
countries = tabla.country.str.split(' ', n = 1, expand = True)

In [49]:
countries.loc[countries[1].isnull(), 1] = countries[countries[1].isnull()][0]

In [51]:
tabla['country_1'] = countries[0]
tabla['country_2'] = countries[1]

In [52]:
tabla.drop('country', axis=1, inplace=True)

In [53]:
tabla

,author,year,critiria,type,min_age,max_age,men,women,proportional,gender,country_1,country_2
index,,,,,,,,,,,,
1,alder,2022,crr,eo,2,8,24,8,no,no,usa,usa
2,arkesteyn,2021,crr,ar,3,18,0,0,no,si,belgica,belgica
3,arnell,2022,crr,eo,12,16,8,4,no,no,suecia,suecia
4,arnell,2020,c+isr+crr,eo,6,12,16,12,no,no,suecia,suecia
5,arnell,2018,crr,eo,12,16,17,7,no,si,suecia,suecia
...,...,...,...,...,...,...,...,...,...,...,...,...
78,woodman,2018,crr,eo,5,13,11,2,no,no,usa,usa
79,ye,2019,crr,eo,11,14,20,4,no,no,china,china
80,yu,2020,crr,eo,20,29,35,0,no,no,korea,korea
81,zhao,2018,c+isr+crr,eo,5,8,29,12,no,no,china,china
82,zhong,2022,crr,ar,5,17,0,0,no,si,china,china

In [57]:
tabla_eo = tabla[tabla['type']=='eo'].copy()
tabla_ar = tabla[tabla['type']=='ar'].copy()
tabla_eo.drop(['type'], inplace=True, axis=1)
tabla_ar.drop(['type'], inplace=True, axis=1)

In [58]:
tabla_eo.to_csv('eo.csv')
tabla_ar.to_csv('ar.csv')

In [59]:
tabla_eo

,author,year,critiria,min_age,max_age,men,women,proportional,gender,country_1,country_2
index,,,,,,,,,,,
1,alder,2022,crr,2,8,24,8,no,no,usa,usa
3,arnell,2022,crr,12,16,8,4,no,no,suecia,suecia
4,arnell,2020,c+isr+crr,6,12,16,12,no,no,suecia,suecia
5,arnell,2018,crr,12,16,17,7,no,si,suecia,suecia
6,bassette,2018,crr,18,21,1,2,no,no,usa,usa
...,...,...,...,...,...,...,...,...,...,...,...
76,waldron,2022,crr,18,78,3451,919,no,si,usa,usa
78,woodman,2018,crr,5,13,11,2,no,no,usa,usa
79,ye,2019,crr,11,14,20,4,no,no,china,china
80,yu,2020,crr,20,29,35,0,no,no,korea,korea
81,zhao,2018,c+isr+crr,5,8,29,12,no,no,china,china